html, body, .bodyContainer {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

body {
  display: flex;
flex-flow: row;
  align-items: center;
  background-color: red;
}

.bodyContainer {
  background-color: blue;
  width: 100%;
  height: auto;

}

nav h1 {

}

nav {
  position: fixed;
  w
}

a {
  color: white;
  text-decoration: none;
}

/*Variables*/
:root {
  /*Color*/
  --main-color: hsl(47, 88%, 63%);
  --neutral1: hsl(0, 0%, 100%);
  --neutral2: hsl(0, 0%, 50%);
  --neutral3: hsl(0, 0%, 7%);

}