html, body, .bodyContainer {
  margin: 0;
  padding: 0;

}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bodyContainer {


}


/*Variables*/
:root {
  /*Color*/
  --main-color: hsl(47, 88%, 63%);
  --neutral1: hsl(0, 0%, 100%);
  --neutral2: hsl(0, 0%, 50%);
  --neutral3: hsl(0, 0%, 7%);

}